body{
    background-color:#2C2F33;
    height: 100%;
}
.footer{
    background-color: #23272A;
    color: #e2e8f0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.large-list{
    max-width: 40%;
}
.dark-mode{
    background-color:#23272A;
    border-radius: 20px;
    border-color: #23272A;
    color: #e2e8f0;
    margin-bottom: 30px;
}
.dark-mode:focus {
    background-color:#23272A;
    color: #e2e8f0;
}

#add_server_list{
    max-height: 200px;
}
.list-group-item{
    color: #e2e8f0;
    background-color:#23272A;
    border-color:#23272A ;
}
.light-writing{
    color: #e2e8f0;
}
.list-title{
    color: #e2e8f0;
}

.list-group{
 padding: 10px;
    height: 500px;
    max-width: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    background-color:#23272A;

}
.rounded-circle{
    height: 50px;
}
canvas{
    position:absolute;
    left:-700px;
    top:0;
    z-index:-1;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #23272A;
    height: 100%;
    overflow: auto;
}
.navbar{
    background-color: #23272A;

}
#dashboard{
    height: 100%;
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-color: #23272A;
}


div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

#insidedb {
    margin-top: 2%;

}

::-webkit-scrollbar {

    width: 15px;
}

::-webkit-scrollbar-track {

    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 8px;
}
.big-list{
    font-size: xx-large;
    background-color:#2C2F33;
}


